<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= 'My App' %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="flex">
      <div class="h-screen w-52 shrink-0 grow-0">
        <%- include('./partials/sidebar') %>
      </div>
      <div class="flex grow flex-col">
        <header><%- include('./partials/header') %></header>

        <main><%- body %></main>
      </div>
    </div>
  </body>
</html>
