<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'My App' %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="flex">
      <div class="w-48">
        <aside>
          <%- include('./partials/sidebar') %>
          <!-- Include sidebar -->
        </aside>
      </div>
      <div>
        <header>
          <%- include('./partials/header') %>
          <!-- Include header -->
        </header>

        <main>
          <%- body %>
          <!-- Dynamic view content -->
        </main>
      </div>
    </div>
  </body>
</html>
