<aside class="h-full">
  <div class="flex h-full flex-col bg-[#0A2665]">
    <div class="flex justify-center bg-[#001C5A]">
      <div class="w-full px-8 py-4">
        <a href="dashboard" class="mb-4 block w-auto">
          <%- include('adwora-logo') %>
        </a>
      </div>
    </div>
    <aside class="">
      <nav class="flex-1 space-y-0">
        <a
          class="items-left group relative mt-0 flex items-center bg-[#FFFFFF21] py-4 pl-[60px] pr-4 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out focus:outline-none"
          href="/dashboard"
        >
          <svg
            class="absolute left-[30px] top-[17px] h-4 fill-current text-[#00D2E7] group-hover:text-[#29C3D2]"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
          >
            <path
              id="Path_357"
              data-name="Path 357"
              d="M15.581,5.186l-7-5a1,1,0,0,0-1.162,0l-7,5A1,1,0,0,0,1.581,6.814L2,6.515V15a1,1,0,0,0,1,1H13a1,1,0,0,0,1-1V6.515A1.7,1.7,0,0,0,15,7a1,1,0,0,0,.582-1.814ZM12,14H10V11a2,2,0,0,0-4,0v3H4V5.086L8,2.229l4,2.857Z"
            ></path>
          </svg>
          <span>Main Dashboard</span>

          <div class="absolute right-0 top-0 h-full w-1 bg-[#00D2E7]"></div>
        </a>

        <a
          class="items-left group relative mt-0 flex items-center py-4 pl-[60px] pr-4 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out hover:bg-[#FFFFFF21] focus:outline-none"
          href="/#"
        >
          <svg
            class="absolute left-[29px] top-[14px] h-6 fill-current text-[#A247ED] group-hover:text-[#29C3D2]"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 26.813 26.813"
          >
            <path
              id="Path_393"
              data-name="Path 393"
              d="M106.491,14.264c-1.295,1.295-4.5-.036-7.633-3.164S94.4,4.761,95.695,3.467s4.5.036,7.632,3.164S107.787,12.969,106.491,14.264Zm-8.387.829a3.988,3.988,0,0,1-2.042-1.182,3.965,3.965,0,0,1-1.188-2.072,6.91,6.91,0,0,0,1.072-3.027A9,9,0,0,1,94.821,6.48a7.034,7.034,0,0,1-2.061,5.751l-1.35,1.349c-.823.823-.378,2.6.993,3.973s3.15,1.816,3.973.993L97.724,17.2h0a6.914,6.914,0,0,1,5.641-2.092,9.249,9.249,0,0,1-2.223-1.1A6.948,6.948,0,0,0,98.1,15.093Zm3.376-6.615a1.517,1.517,0,0,0-2.15-.267c.352.415.734.837,1.158,1.26s.835.8,1.26,1.157A1.519,1.519,0,0,0,101.48,8.477Zm3.652-2.908a.527.527,0,0,1-.744-.744l1.659-1.862a.526.526,0,0,1,.745,0l.2.2a.528.528,0,0,1,0,.745Zm-3.494-2.517a.527.527,0,0,1-.941-.47l.984-2.291a.527.527,0,0,1,.707-.236l.256.128a.527.527,0,0,1,.237.706C102.875.9,101.638,3.052,101.638,3.052ZM106.9,8.32a.527.527,0,0,0,.47.942l2.292-.984a.528.528,0,0,0,.235-.707l-.128-.256a.526.526,0,0,0-.706-.237ZM97.07,4.842c-.431,1.116,1.2,3.508,2.868,5.178,1.479,1.48,3.982,3.331,5.179,2.869.431-1.116-1.2-3.508-2.869-5.179C100.768,6.231,98.267,4.38,97.07,4.842Z"
              transform="translate(-50.938 -64.344) rotate(45)"
            ></path>
          </svg>
          <span>Campaigns</span>
        </a>

        <a
          class="items-left group relative mt-0 flex items-center py-4 pl-[60px] pr-4 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out hover:bg-[#FFFFFF21] focus:outline-none"
          href="/#"
        >
          <svg
            class="absolute left-[30px] top-[14px] h-6 fill-current text-[#A247ED] group-hover:text-[#29C3D2]"
            xmlns="http://www.w3.org/2000/svg"
            width="18.004"
            height="14.885"
            viewBox="0 0 18.004 14.885"
          >
            <path
              id="Path_394"
              data-name="Path 394"
              d="M262.908,182.2H250.686a2.893,2.893,0,0,0-2.891,2.89v9.1a2.9,2.9,0,0,0,2.891,2.891h12.222a2.9,2.9,0,0,0,2.891-2.891v-9.1A2.893,2.893,0,0,0,262.908,182.2Zm-7.2,1.589a.737.737,0,1,1-.739.738A.738.738,0,0,1,255.7,183.79Zm-2.8,0a.737.737,0,1,1-.736.738A.739.739,0,0,1,252.9,183.79Zm-2.8,0a.737.737,0,1,1-.738.738A.739.739,0,0,1,250.1,183.79Zm14.122,10.4a1.316,1.316,0,0,1-1.314,1.314H250.686a1.316,1.316,0,0,1-1.314-1.314v-7.317h14.85Z"
              transform="translate(-247.795 -182.201)"
            ></path>
          </svg>
          <span>Landers</span>
        </a>

        <a
          class="items-left group relative mt-0 flex items-center py-4 pl-[60px] pr-4 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out hover:bg-[#FFFFFF21] focus:outline-none"
          href="/clients"
        >
          <svg
            viewBox="0 0 640 512"
            width="22"
            class="absolute left-[29px] top-[16px] fill-current text-[#A247ED] group-hover:text-[#29C3D2]"
          >
            <path
              d="M506.1 127.1c-17.97-20.17-61.46-61.65-122.7-71.1c-22.5-3.354-45.39 3.606-63.41 18.21C302 60.47 279.1 53.42 256.5 56.86C176.8 69.17 126.7 136.2 124.6 139.1c-7.844 10.69-5.531 25.72 5.125 33.57c4.281 3.157 9.281 4.657 14.19 4.657c7.406 0 14.69-3.375 19.38-9.782c.4062-.5626 40.19-53.91 100.5-63.23c7.457-.9611 14.98 .67 21.56 4.483L227.2 168.2C214.8 180.5 207.1 196.1 207.1 214.5c0 17.5 6.812 33.94 19.16 46.29C239.5 273.2 255.9 279.1 273.4 279.1s33.94-6.813 46.31-19.19l11.35-11.35l124.2 100.9c2.312 1.875 2.656 5.251 .5 7.97l-27.69 35.75c-1.844 2.25-5.25 2.594-7.156 1.063l-22.22-18.69l-26.19 27.75c-2.344 2.875-5.344 3.563-6.906 3.719c-1.656 .1562-4.562 .125-6.812-1.719l-32.41-27.66L310.7 392.3l-2.812 2.938c-5.844 7.157-14.09 11.66-23.28 12.6c-9.469 .8126-18.25-1.75-24.5-6.782L170.3 319.8H96V128.3L0 128.3v255.6l64 .0404c11.74 0 21.57-6.706 27.14-16.14h60.64l77.06 69.66C243.7 449.6 261.9 456 280.8 456c2.875 0 5.781-.125 8.656-.4376c13.62-1.406 26.41-6.063 37.47-13.5l.9062 .8126c12.03 9.876 27.28 14.41 42.69 12.78c13.19-1.375 25.28-7.032 33.91-15.35c21.09 8.188 46.09 2.344 61.25-16.47l27.69-35.75c18.47-22.82 14.97-56.48-7.844-75.01l-120.3-97.76l8.381-8.382c9.375-9.376 9.375-24.57 0-33.94c-9.375-9.376-24.56-9.376-33.94 0L285.8 226.8C279.2 233.5 267.7 233.5 261.1 226.8c-3.312-3.282-5.125-7.657-5.125-12.31c0-4.688 1.812-9.064 5.281-12.53l85.91-87.64c7.812-7.845 18.53-11.75 28.94-10.03c59.75 9.22 100.2 62.73 100.6 63.29c3.088 4.155 7.264 6.946 11.84 8.376H544v175.1c0 17.67 14.33 32.05 31.1 32.05L640 384V128.1L506.1 127.1zM48 352c-8.75 0-16-7.245-16-15.99c0-8.876 7.25-15.99 16-15.99S64 327.2 64 336.1C64 344.8 56.75 352 48 352zM592 352c-8.75 0-16-7.245-16-15.99c0-8.876 7.25-15.99 16-15.99s16 7.117 16 15.99C608 344.8 600.8 352 592 352z"
            />
          </svg>
          <span>Clients</span>
        </a>

        <a
          class="items-left group relative mt-0 flex items-center py-4 pl-[60px] pr-4 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out hover:bg-[#FFFFFF21] focus:outline-none"
          href="/users"
        >
          <svg
            viewBox="0 0 640 512"
            width="22"
            class="absolute left-[29px] top-[16px] fill-current text-[#A247ED] group-hover:text-[#29C3D2]"
          >
            <path
              d="M506.1 127.1c-17.97-20.17-61.46-61.65-122.7-71.1c-22.5-3.354-45.39 3.606-63.41 18.21C302 60.47 279.1 53.42 256.5 56.86C176.8 69.17 126.7 136.2 124.6 139.1c-7.844 10.69-5.531 25.72 5.125 33.57c4.281 3.157 9.281 4.657 14.19 4.657c7.406 0 14.69-3.375 19.38-9.782c.4062-.5626 40.19-53.91 100.5-63.23c7.457-.9611 14.98 .67 21.56 4.483L227.2 168.2C214.8 180.5 207.1 196.1 207.1 214.5c0 17.5 6.812 33.94 19.16 46.29C239.5 273.2 255.9 279.1 273.4 279.1s33.94-6.813 46.31-19.19l11.35-11.35l124.2 100.9c2.312 1.875 2.656 5.251 .5 7.97l-27.69 35.75c-1.844 2.25-5.25 2.594-7.156 1.063l-22.22-18.69l-26.19 27.75c-2.344 2.875-5.344 3.563-6.906 3.719c-1.656 .1562-4.562 .125-6.812-1.719l-32.41-27.66L310.7 392.3l-2.812 2.938c-5.844 7.157-14.09 11.66-23.28 12.6c-9.469 .8126-18.25-1.75-24.5-6.782L170.3 319.8H96V128.3L0 128.3v255.6l64 .0404c11.74 0 21.57-6.706 27.14-16.14h60.64l77.06 69.66C243.7 449.6 261.9 456 280.8 456c2.875 0 5.781-.125 8.656-.4376c13.62-1.406 26.41-6.063 37.47-13.5l.9062 .8126c12.03 9.876 27.28 14.41 42.69 12.78c13.19-1.375 25.28-7.032 33.91-15.35c21.09 8.188 46.09 2.344 61.25-16.47l27.69-35.75c18.47-22.82 14.97-56.48-7.844-75.01l-120.3-97.76l8.381-8.382c9.375-9.376 9.375-24.57 0-33.94c-9.375-9.376-24.56-9.376-33.94 0L285.8 226.8C279.2 233.5 267.7 233.5 261.1 226.8c-3.312-3.282-5.125-7.657-5.125-12.31c0-4.688 1.812-9.064 5.281-12.53l85.91-87.64c7.812-7.845 18.53-11.75 28.94-10.03c59.75 9.22 100.2 62.73 100.6 63.29c3.088 4.155 7.264 6.946 11.84 8.376H544v175.1c0 17.67 14.33 32.05 31.1 32.05L640 384V128.1L506.1 127.1zM48 352c-8.75 0-16-7.245-16-15.99c0-8.876 7.25-15.99 16-15.99S64 327.2 64 336.1C64 344.8 56.75 352 48 352zM592 352c-8.75 0-16-7.245-16-15.99c0-8.876 7.25-15.99 16-15.99s16 7.117 16 15.99C608 344.8 600.8 352 592 352z"
            />
          </svg>
          <span>Users</span>
        </a>

        <a
          class="items-left group relative mt-0 flex items-center py-4 pl-[60px] pr-4 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out hover:bg-[#FFFFFF21] focus:outline-none"
          href="/#"
        >
          <svg
            class="absolute left-[27px] top-[14px] fill-current text-[#A247ED] group-hover:text-[#29C3D2]"
            fill="none"
            height="21"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 28 34"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                  stroke-linejoin: round;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <title />
            <g>
              <polygon class="cls-1" points="10 1 4 7 4 31 28 31 28 1 10 1" />
              <polyline class="cls-1" points="10 1 10 7 4 7" />
              <polyline class="cls-1" points="9 12 9 26 24 26" />
              <polyline class="cls-1" points="9 26 16 19 19 22 24 17" />
            </g>
          </svg>
          <span>Reports</span>
        </a>
      </nav>
    </aside>
  </div>
</aside>
